// ###############################
// FOOTER ########################
// ###############################
section#footer
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        p &#169; 2014 YCM. All rights reserved.
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .social_icons
          ul
            li
              i.social_icon.fa.fa-twitter-square.fa-3x(onclick="location.href='https://twitter.com/ycm2030'")
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/YCMcontagion'")