<!--###############################-->
<!--FOOTER ########################-->
<!--###############################-->

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>&copy; 2014 YCM. All rights reserved.</p> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="social_icons">
                    <ul>
                        <li>
                            <div data-icon="&#xe421;" class="social_icon twitter_icon" onclick="location.href='#'"></div>
                        </li>
                        <li>
                            <div data-icon="&#xe420;" class="social_icon facebook_icon" onclick="location.href='#'"></div>
                        </li>
                        <li>
                            <div data-icon="&#xe417;" class="social_icon linkdin_icon" onclick="location.href='#'"></div>
                        </li>
                        <li>
                            <div data-icon="&#xe36c;" class="social_icon instagram_icon" onclick="location.href='#'"></div>
                        </li>
                    </ul>
             </div>
          </div>     
        </div>
    </div>
</section>
