// ###############################
// HOME ##########################
// ###############################
section#home.home_image
  .container
    .row
      #slogan_h1.col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 Empower &#8226; Fund &#8226; Equip
    .row
      #slogan_h3.col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
        h3 Providing a platform for change.
        i#home_arrow.fa.fa-angle-down

// ###############################
// ABOUT #########################
// ###############################
section#about
  .container
    #about_intro.row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.intro
        h2
          | Youth Consciousness Movement is inspiring active citizens and providing a platform for them to develop their
          | community and their country.
    .row
      #about_icon1.col-sm-4.col-md-4.col-lg-4.about_icons
        i.about_icon.fa.fa-bolt.fa-5x
        h3 Empower
        p
          | YCM is a movement which aims to create active citizens who control their own destiny through a large scale
          | awareness campaign.
      #about_icon2.col-sm-4.col-md-4.col-lg-4.about_icons
        i.about_icon.fa.fa-money.fa-5x
        h3 Fund
        p
          | YCM is an impact investment firm that brings together individuals solving problems in their communities and
          | funds their ventures.
      #about_icon3.col-sm-4.col-md-4.col-lg-4.about_icons
        i.about_icon.fa.fa-wrench.fa-5x
        h3 Equip
        p
          | YCM is a research and technology company dedicated to discovering and developing solutions to pervasive
          | problems.

// ###############################
// NUMBERS #######################
// ###############################
section#numbers
  .container
    .row
      #counter_box1.col-xs-6.col-sm-3.col-md-3.col-lg-3.counter_info
        h3 SA in Numbers
        p
          | The National Development Plan supported by both the ANC and the DA highlights 9 key sectors where South
          | African citizens have to work for change. These goals can be achieved when enough of our citizens become
          | active.
      #counter_box3.col-xs-6.col-sm-3.col-md-3.col-lg-3
        .counter_box
          span.counter 9
          h5 Key Sectors
      #counter_box4.col-xs-12.col-sm-6.col-md-6.col-lg-6
        .counter_box
          span.counter 50000000
          h5 Free Citizens
    .row
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-line-chart
          h5 Job Creation
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-wifi
          h5 Building Infastructure
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-sun-o
          h5 Renewable Energy
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-subway
          h5 Transport
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-graduation-cap
          h5 Education
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-user-md
          h5 Healthcare
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-comments-o
          h5 Public Service
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-legal
          h5 Fighting Corruption
      .col-xs-12.col-sm-4
        .counter_box
          span.about_icon
            i.fa.fa-users
          h5 Uniting Communities

// ###############################
// VIDEO #########################
// ###############################
//section#video
  div
    h2 Watch change
    .play_icon
      a(href="http://vimeo.com/95943971")
        i.play_icon_symbol.fa.fa-play
    h2 happen!
  #video_background
    .player.video-container(data-property="{videoURL:'5ynGpsRtNHw',containment:'#video',autoPlay:true, showControls:false, mute:true, startAt:10, opacity:0.2, optimizeDisplay: true, ratio: 16/9 }")

// ###############################
// TEAM ##########################
// ###############################
section#team
  .container
    .row
      #team_intro.col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Each positive action brings a ripple of hope to society.
        p
          | &#8220;The things you do for yourself will leave with you when you die, the things you do for others will live on as your legacy.&#8221; - Kalu Ndukwe Kalu
section#team_slider
  #my-slide
    .slide_background
      #person1.person_photo
      .person_info
        h5 Founder &#38; CEO
        h3 Jean-Luc Koenig
        p
          | No special talents, just passionately curious! An idealist, a dreamer and believer in Africa. Recognizing
          | those that dream the impossible. Founder of YCM.
        .social_icons
          ul
            li
              i.social_icon.fa.fa-twitter-square.fa-3x(onclick="location.href='https://twitter.com/JeanlucYCM'")
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/jeanluc.koenig'")
            li
              i.social_icon.fa.fa-linkedin-square.fa-3x(onclick="location.href='https://www.linkedin.com/profile/view?id=184603672'")
    .slide_background
      #person2.person_photo
      .person_info
        h5 Founder &#38; CTO
        h3 Rick Kleinhans
        p
          | Web developer, entrepreneur and computer science student dedicated to creating a free and open society by
          | building solutions in the travel, payment and education industries that fundamentally change the way said
          | industries function.
        .social_icons
          ul
            li
              i.social_icon.fa.fa-twitter-square.fa-3x(onclick="location.href='https://twitter.com/RickKLN'")
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/rick.kleinhans.mail'")
            li
              i.social_icon.fa.fa-linkedin-square.fa-3x(onclick="location.href='https://www.linkedin.com/profile/view?id=219783211'")
    .slide_background
      #person3.person_photo
      .person_info
        h5 Founder &#38; CFO
        h3 Dominic Koenig
        p
          | UCT student studying Business Science who has an enormous passion for leaving a positive legacy in South
          | Africa. I also like to laugh.
        .social_icons
          ul
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/dominic.koenig.5?fref=ts'")
section#crew
  .container
    .row
      #crew_intro.col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Ripples become waves. People move a country forward.
        p The right people doing the right things yields the right results.
    #crew_members.row
      #crew_member1.col-xs-12.col-sm-6.col-md-3.col-lg-3.crew_member
        img.img-responsive.img-circle.member_photo(src="images/team1.jpg", alt="")
        h3 Brittany McIntyre
        p
          | Law student at Stellenbosch with an incredible passion for bringing about a just and fair society. The most determined person you&#39;ll ever meet.
        .social_icons.center
          ul
            li
              .i.social_icon.fa.fa-linkedin-square.fa-3x(onclick="location.href='https://www.linkedin.com/profile/view?id=346830380'")
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/brittany.mcintyre.9?fref=ts'")
      #crew_member2.col-xs-12.col-sm-6.col-md-3.col-lg-3.crew_member
        img.img-responsive.img-circle.member_photo(src="images/team2.jpg", alt="")
        h3 Evert J. v. Vuuren
        p
          | YCM project manager and informatics student. Too positive to be doubtful, too optimistic to be fearful and too determined to be defeated.
        .social_icons.center
          ul
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/evertjvv?fref=ts'")
      #crew_member3.col-xs-12.col-sm-6.col-md-3.col-lg-3.crew_member
        img.img-responsive.img-circle.member_photo(src="images/team3.jpg", alt="")
        h3 Alexander Leid
        p
          | Stellenbosch Computer Science student and our resident maths genius. Can change the world by typing some stuff.
        .social_icons.center
          ul
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/alexander.leid?fref=ts'")
      #crew_member4.col-xs-12.col-sm-6.col-md-3.col-lg-3.crew_member
        img.img-responsive.img-circle.member_photo(src="images/team4.jpg", alt="")
        h3 Courtney Jooste
        p
          | Programmer and user interface designer with a passion for perfection. The team&#39;s fitness guru.
        .social_icons.center
          ul
            li
              i.social_icon.fa.fa-twitter-square.fa-3x(onclick="location.href='https://twitter.com/TroyAesthetics'")
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/courtney.jooste?fref=ts'")
    #crew_members.row
      #crew_member5.col-xs-12.col-sm-6.col-md-3.col-lg-3.crew_member
        img.img-responsive.img-circle.member_photo(src="images/team5.jpg", alt="")
        h3 Cally Silberbauer
        p
          | Graphic designer and artist, the team member who always makes sure everything looks it&#39;s best and lives a good adventure.
        .social_icons.center
          ul
            li
              i.social_icon.fa.fa-facebook-square.fa-3x(onclick="location.href='https://www.facebook.com/cally.silberbauer?fref=ts'")

// ###############################
// INVESTMENT ####################
// ###############################
section#portfolio
  .container
    .row
      #portfolio_intro.col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Our Investment Portfolio
        p
          | Our vision for making an impact in South Africa ties in closely with the National Development Plan. It is for
          | this reason that each of the following ventures has a close connection to at least one of the key sectors
          | highlighted by the NDP.
    .row
      #portfolio_1.col-sm-4.col-md-4.col-lg-4.col-center.portfolio_item
        a(href="portfolio_img.html")
          img.img-responsive.img-rounded(src="images/portfolio/portfolio_1.jpg", alt="")

// ###############################
// PARTNERS ######################
// ###############################
//section#clients(data-stellar-background-ratio="0.5")
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Our Partners in Change:
    .row
      .col-xs-4.col-sm-2.col-md-2.col-lg-2
        img.img-responsive.client_logo(src="images/client_logo_1.png", alt="")
      .col-xs-4.col-sm-2.col-md-2.col-lg-2
        img.img-responsive.client_logo(src="images/client_logo_2.png", alt="")
      .col-xs-4.col-sm-2.col-md-2.col-lg-2
        img.img-responsive.client_logo(src="images/client_logo_3.png", alt="")
      .col-xs-4.col-sm-2.col-md-2.col-lg-2
        img.img-responsive.client_logo(src="images/client_logo_4.png", alt="")
      .col-xs-4.col-sm-2.col-md-2.col-lg-2
        img.img-responsive.client_logo(src="images/client_logo_5.png", alt="")
      .col-xs-4.col-sm-2.col-md-2.col-lg-2
        img.img-responsive.client_logo(src="images/client_logo_6.png", alt="")

// ###############################
// PROJECTS ######################
// ###############################
//section#services
  .container
    .row
      #services_intro.col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Research and Development Projects
        p
          | These are internal YCM projects which generate knowledge, tools and technology that will better equip South
          | African citizens in their mission to develop their communities and their country.
    .big-link2
      a.big-link(href="http://www.essenceid.com") Click HERE to Use the EssenceID Demo App
    #service1.row
      #services_column_left.col-xs-12.col-sm-6.col-md-6.col-lg-6
        i.about_icon.fa
        h3 EssenceID
        .services_details
          i.services_icon.fa
          h5 Finding Purpose
          p
            | When you distill something down to its purpose you reach its essence. When you have that essence you are able to identify that thing by its essence.
            | Be it a person or a group of people.
        .services_details
          i.services_icon.fa
          h5 Connecting the right people
          p
            | When you can identify something by its essence you can connect it with other things that share that essence. Connecting people in this way is our mission at EssenceID.
        .big-link
          a.big-link(href="http://www.essenceid.com") Click HERE to Use the EssenceID Demo App
      .col-sm-6.col-md-6.col-lg-6.service_images
        img#services1a_image.img-responsive.image_back(src="images/features2b.png", alt="img")
    br
    br
    #service2.row
      hr
      .col-sm-6.col-md-6.col-lg-6.service_images
        img#services2a_image.img-responsive.image_back(src="images/features1a.png", alt="img")
        img#services2b_image.img-responsive.image_front(src="images/features1b.png", alt="img")
      #services_column_right.col-xs-12.col-sm-6.col-md-6.col-lg-6
        i.about_icon.fa
        h3 Print Design
        .services_details
          i.services_icon.fa
          h5 Branding and Logo Design
          p
            | Epsum factorial non deposit quid pro quo hic escorol. Souvlaki ignitus carborundum e pluribus unum.
        .services_details
          i.services_icon.fa
          h5 Corporate Identity
          p
            | Epsum factorial non deposit quid pro quo hic escorol. Souvlaki ignitus carborundum e pluribus unum.

// TESTIMONIALS ######################
//#testimonials.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #cbp-qtrotator.cbp-qtrotator
      .cbp-qtcontent
        blockquote
          h3
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            | laoreet dolore magna aliquam erat volutpat.
          h5 - Happy Client, Microsoft
      .cbp-qtcontent
        blockquote
          h3
            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            | ex ea commodo consequat.
          h5 - John McLane, Apple
      .cbp-qtcontent
        blockquote
          h3
            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse od tincidunt ut laoreet dolore
            | magna consequat, vel illum dolore eu feugiat nulla.
          h5 - Shegy, MTD Studio

// ###############################
// Parallax Section ##############
// ###############################
section#parallax_divider(data-stellar-background-ratio="0.5")
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 YCM is dedicated to building the South Africa its citizens want!

// ###############################
// NEWS ##########################
// ###############################
section#blog
  .container
    .row
      #blog_intro.col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 Latest Articles
        p
          | The YCM blog contains articles written by members of YCM as well as people who inspire us.
    .row
      #blog1.col-xs-12.col-sm-12.col-md-12.col-lg-12.news_item(onclick="location.href='/blog/manifesto'")
        .news_title
          h3 The YCM Manifesto
          h6 Jean-Luc Koenig&#160;&#160; &#8226; &#160;&#160;YCM Blog&#160;&#160; &#8226; &#160;&#160;April 12, 2015
        i.news_icon.fa
      #more_posts.col-xs-12.col-sm-12.col-md-12.col-lg-12
        a.cta1(href="/blog/blog.html") Show more posts!


// ###############################
// CONTACT #######################
// ###############################
section#contact
  .container
    .row
      #contact_left.col-xs-12.col-sm-6.col-md-6.col-lg-6
        .contact_info
          h5 Send us mail!
          p Jean-Luc Koenig (CEO):
          h2 jeanluc@ycm2030.com
          p Rick Kleinhans (CTO):
          h2 rick@ycm2030.com
        .contact_info
          h5 Need Help?
          p
            | If you require further information or clarification related to any of YCM&#39;s endeavors or would like support
            | with one of our products don&#39;t hesitate to contact us.
      #contact_right.col-xs-12.col-sm-6.col-md-6.col-lg-6
        .contact_info
          h5 Give us a call!
          p Jean-Luc Koenig (CEO):
          h2 +27 79 772 5078
          p Rick Kleinhans (CTO):
          h2 +27 82 487 5758
        .contact_info
          h5 Our Location
          p We are currently operating out of central Stellenbosch.

